* {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}
html, body {
    scroll-behavior: smooth;
}
.navbar {
    padding: 20px 25px;
    background: transparent;
    transition: .2s;
}
.navbar-nav {
    margin-right: 20px;
}
.navbar-nav .nav-item {
    cursor: pointer;
}
.navbar-brand img {
    height: 40px;
}
header {
    background: url(https://darlanhms.github.io/site-web-design/images/header-background.jpg);
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}
header img {
    margin: 0px 100px;
    width: 350px;
}
header h1 {
    margin: 0px 100px;
    letter-spacing: 10px;
    font-size: 60px;
}
.section-content {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre, #recursos, #contato {
    background: #2f2c3d;
}
.alunos {
    text-align: center;
}
.alunos .aluno {
    display: inline-block;
}
.alunos .aluno h4 {
    font-size: 1.2rem;
    margin: 28px 0px 10px;
}
.alunos img {
    width: 150px;
    margin: 0px 30px;
    border-radius: 50px;
}
#sobre-continuacao {
    background: url(https://darlanhms.github.io/site-web-design/images/header-background.jpg);
}
#sobre-continuacao .content-sobre {
    text-align: center;
    font-size: 20px;
    width: 55vw;
}
#sobre-continuacao .content-sobre h1 {
    margin-bottom: 35px;
}
#recursos .images-frameworks {
    display: block
}
#recursos {
    text-align: center;
    padding: 50px;
}
#recursos h3 {
    font-size: 25px;
    margin-bottom: 50px;
}
#recursos .images-frameworks img {
    width: 200px;
    margin: 0px 50px 30px;
    background: #ffffff;
    padding: 15px;
    border-radius: 50px;
}
#sistemas {
    background: url(https://darlanhms.github.io/site-web-design/images/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}
#sistemas .content-food {
    width: 1000px;
    text-align: center;
}
#sistemas .content-food h4 {
    margin-bottom: 15px;
}
#sistemas .content-food h3 {
    font-weight: bolder;
}
#sistemas .content-food .row {
    margin: 35px 0px 15px;
}
#sistemas .content-food .col {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sistemas .content-food .col:nth-child(1) {
    text-align: right;
}
#sistemas .content-food .col:nth-child(3) {
    text-align: left;
}
#sistemas .content-food ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sistemas .content-food ul li {
    margin: 80px 0px !important;
    font-size: 20px;
}
#sistemas .content-food p {
    margin: 0px 20px;
}
#contato .content-contact {
    margin-bottom: 40px;
    padding: 40px 0 0;
}
#contato .content-contact .content-info{
    display: flex;
}
#contato .content-contact .content-info p{
    margin-right: 15px;
    font-weight: 100;
}
#contato .content-contact .content-info i{
    color: #b1bdff;
    margin-bottom: 40px;
}
#contato .content-contact input{
    width: 100%;
    margin-bottom: 20px;
    background-color: #413d52;
    border: 1px solid #00c9db;
    color: #00c9db;
    padding: 7px 5px;
    border-radius: 4px;
    transition: border-color .2s;
}
#contato .content-contact textarea{
    width: 100%;
    margin-bottom: 20px;
    background-color: #413d52;
    border: 1px solid #9791ae;
    color: #d5d2e0;
    padding: 7px 5px;
    border-radius: 4px;
    transition: border-color .2s;
    height: 180px;
}
#contato .content-contact input:focus,
#contato .content-contact textarea:focus,
#contato .content-contact button:focus {
    outline: 0;
    box-shadow: 0px 0px 0px 2px #00c9db73;
}
#contato .content-contact .submit-message {
    border: 1px solid #00c9db;
    background-color: transparent;
    border-radius: 5px;
    padding: 7px 25px;
    color: #00c9db;
    width: 100%;
    transition: color .2s, background-color .2s;
    cursor: pointer;
}
#contato .content-contact .submit-message:hover,
#contato .content-contact .submit-message:focus {
    background-color: #00c9db;
    color: white;
}
footer {
    background-color: #262431;
    min-height: 200px;
    text-align: center;
    padding-top: 40px;
}
footer h4{
    margin-bottom: 20px;
}
footer .icon{
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 0 7px;
    transition: background-color .2s;
    cursor: pointer;
}
footer .icon:hover{
    background-color: #00c9db;
}
footer .icon i{
    color: #262431;
}
footer .direitos-autorais{
    color: #a09fa8;
    font-size: 13px;
    margin: 35px 0 0;
}

@media only screen and (max-width: 1280px) {
    #recursos .images-frameworks img {
        width: 100px;
        padding: 5px;
        border-radius: 20px;
    }
}
@media only screen and (max-width: 1024px) {
    #sistemas .content-food .row div:first-child,
    #sistemas .content-food .row div:last-child {
        display: none;
    }
    #sistemas .content-food .row {
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 991px) {
    .navbar {
        background: #4633af!important;
    }
}
@media only screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }
    header h1 {
        margin-bottom: 30px;
    }
    #recursos .images-frameworks {
        flex-direction: column;
    }
    #recursos .images-frameworks img {
        margin-bottom: 30px;
    }
    #sobre-continuacao .content-sobre {
        width: 90%;
    }
}
@media only screen and (max-width: 550px) {
    header img {
        width: 210px;
    }
    .section-content {
        padding: 30px 10px;
    }
    .alunos img {
        width: 100px;
        border-radius: 30px;
    }
    .content-food img {
        width: 195px;
    }
    #contato .content-contact {
        padding: 40px 50px;
    }
    #contato .content-contact .content-info {
        flex-direction: column;
        margin-bottom: 30px;
    }
    #contato .content-contact .content-info p {
        margin: 0 0 10px;
        text-align: center;
    }
    #contato .content-contact .content-info i {
        margin: 0;
    }
}