
* {
    font-family: 'Roboto', sans-serif !important;
    color: #ffffff;
}
html, body {
    scroll-behavior: smooth;
}
.navbar {
    padding: 15px 25px;
    background: transparent;
    transition: .2s;
}
.navbar-nav {
    margin-right: 20px;
}
.navbar-nav .nav-item {
    cursor: pointer;
}
.navbar-brand img {
    height: 40px;
}
header {
    background: url(https://darlanhms.github.io/site-web-design/images/header-background.jpg);
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}
header img {
    margin: 0px 100px;
    width: 350px;
}
header h1 {
    margin: 0px 100px;
    letter-spacing: 10px;
    font-size: 60px;
}
.section-content {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre, #recursos {
    background: #262431;
}
.alunos {
    text-align: center;
}
.alunos .aluno {
    display: inline-block;
}
.alunos .aluno h4 {
    font-size: 1.2rem;
    margin: 28px 0px 10px;
}
.alunos img {
    width: 150px;
    margin: 0px 30px;
    border-radius: 50px;
}
#sobre-continuacao {
    background: url(https://darlanhms.github.io/site-web-design/images/header-background.jpg);
}
#sobre-continuacao .content-sobre {
    text-align: center;
    font-size: 20px;
    width: 55vw;
}
#sobre-continuacao .content-sobre h1 {
    margin-bottom: 35px;
}
#recursos .images-frameworks {
    display: flex;
    align-items: center;
    justify-content: center;
}
#recursos {
    text-align: center;
    padding: 50px;
}
#recursos h3 {
    font-size: 25px;
    margin-bottom: 50px;
}
#recursos .images-frameworks img {
    width: 200px;
    margin: 0px 50px;
    background: #ffffff;
    padding: 15px;
    border-radius: 50px;
}
#sistemas {
    background: url(https://darlanhms.github.io/site-web-design/images/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}
#sistemas .content-food {
    width: 1000px;
    text-align: center;
}
#sistemas .content-food h4 {
    margin-bottom: 15px;
}
#sistemas .content-food h3 {
    font-weight: bolder;
}
#sistemas .content-food .row {
    margin: 35px 0px 15px;
}
#sistemas .content-food .col {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sistemas .content-food .col:nth-child(1) {
    text-align: right;
}
#sistemas .content-food .col:nth-child(3) {
    text-align: left;
}
#sistemas .content-food ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sistemas .content-food ul li {
    margin: 80px 0px !important;
    font-size: 20px;
}
#sistemas .content-food p {
    margin: 0px 20px;
}
